NODE_ENV=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PORT=

#node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_TIME=

#node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_ADMIN_ACCESS_TOKEN_SECRET=
JWT_ADMIN_ACCESS_TOKEN_EXPIRATION_TIME=

#node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION_TIME=

#node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_ADMIN_REFRESH_TOKEN_SECRET=
JWT_ADMIN_REFRESH_TOKEN_EXPIRATION_TIME=

ELASTICSEARCH_NODE=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

UPLOADED_FILES_DESTINATION=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=